li {
  list-style-type: none;
}

.videoName {
  padding-bottom: 1rem;
}
.videoDescription {
  padding-bottom: 1rem;
}
.reactPlayer {
  color: black;
  border-color: rgba(64, 21, 121, 0.267) 10px;
  outline: "none";
  box-shadow: none;
  height: 360px;
}
.slider-slide:focus {
  outline: none;
}

video {
  width: auto;
}

.centerVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 4rem;
}

.gallery {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}
.slider-slide {
  width: fit-content;
  margin: auto;
}

.videoName {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: large;
}
.videoDescription {
  letter-spacing: 0.1rem;
  text-transform: lowercase;
}
