.modal {
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  background-color: #c7d4e6;
  text-align: center;
  width: 484px;
  margin: auto;
  min-height: initial;
  box-shadow: rgb(0 0 0 / 45%) 0px 2px 10px;
  margin-top: 8vh;
}
.modalOverlay {
  background-color: rgb(0 0 0 / 75%);
}
.createVid {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button {
  border: 1px solid #000;
  border-radius: 4px;
}
